{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block bodyTitle %}
    {% if biography is defined and biography is not null %}
        {{ biography.title }}
    {% else %}
        Bienvenue
    {% endif %}
{% endblock %}

{% block body %}
    {% if biography is defined and biography is not null %}
        <div class="row">
            <div class="col px-4 py-2">{{ biography.content|raw }}</div>
        </div>
    {% endif %}

    <div class="row shadow mt-4 bg-body-tertiary mb-4">
        <div class="col px-4 py-2">
            <h2>Dernières réalisations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col px-4 py-2">
            <div class="row">
                {% for project in latest_projects %}
                    {% if project.visible %}
                        <div class="col-md-4 mb-4" id="project-{{ project.id }}">
                            <a href="{{ path('app_project_show_slug', {'slug': project.slug}) }}" class="text-decoration-none">
                                <div class="card h-100">
                                    <img src="{{ asset( project_image_dir ~ project.id ~ '/' ~ project.image) }}"
                                         class="card-img-top" alt="Image de {{ project.title }}"/>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ project.title }}</h5>
                                        <p class="card-text">{{ project.shortDescription }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
