{% extends 'base.html.twig' %}

{% block title %}Article : {{ blog.title }}{% endblock %}

{% block bodyTitle %}{{ blog.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col px-4 py-2">
            {{ blog.content|raw }}
        </div>
    </div>

    <div class="row">
        <div class="col px-4 py-2">
            <a href="{{ path('app_blog_index') }}" class="btn btn-primary">Retour</a>
            {% if app.user %}
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    {% set editUrl = ea_url()
                        .setController('App\\Controller\\Admin\\BlogCrudController')
                        .setAction('edit')
                        .setEntityId(blog.id) %}
                    <a href="{{ editUrl }}" class="btn btn-warning">Editer</a>

                    {{ include('blog/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
