{% extends 'base.html.twig' %}

{% block title %}Projet : {{ project.title }}{% endblock %}

{% block bodyTitle %}{{ project.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col px-4 py-2">
            {{ project.longDescription|raw }}
        </div>
    </div>

    <div class="row">
        <div class="col px-4 py-2">
            <a href="{{ path('app_project_index') }}" class="btn btn-primary">Retour</a>
            {% if app.user %}
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    {% set editUrl = ea_url()
                        .setController('App\\Controller\\Admin\\ProjectCrudController')
                        .setAction('edit')
                        .setEntityId(project.id) %}
                    <a href="{{ editUrl }}" class="btn btn-warning">Editer</a>

                    {{ include('project/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
